.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 0.1rem solid #dcdcdc40;
    position: relative;
    z-index: 10;
    /* added */
    position: sticky;
    top: 0;
    background-color: var(--Primary);
}

.header__logo img {
    width: 7.375rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    font-size: var(--Text-font-size-1);
}

.nav > a {
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    font-size: var(--Text-font-size-2);
}
 
.nav > a:hover {
    background-color: #f7f7f7;
}

.nav__language {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav__language:hover {
    background-color: #f7f7f7;
}

.header__menu-btn {
    margin-left: 0.4rem;
    padding: 0.2rem 0.2rem;
    border-radius: 2rem;
    border: 0.01rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.header__menu-btn:hover {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
} 

.header__menu-btn > i {
    padding-left: 0.4rem;
}

.nav__user-icon {
    background-color: #dcdcdc;
    color: var(--Primary);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.02rem solid #dcdcdc;
    overflow: hidden;
}

.nav__user-icon i {
    font-size: 1.8rem;
    position: relative;
    transform: translateY(0.2rem);
    padding: 0.2rem;
}

.nav__user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nav__items {
    background-color: var(--Primary);
    position: absolute;
    top: 94%;
    right: 5rem;
    box-shadow: 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: var(--Text-font-size-2);
    font-family: font-100;
    width: 16rem;
    overflow: hidden;
}

.nav__items > div {
    margin: 0.2rem 0;
}

.nav__items > div:not(:last-child) {
    border-bottom: 0.01rem solid #dcdcdc;
    padding-bottom: 0.4rem;
}

.nav__items > div:not(:first-child) {
    margin-top: 0;
}

.nav__item button,
.nav__item a {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0.8rem;
}

.nav__item:hover {
    background-color: #f7f7f7;
}

.nav__items div:first-child li:first-child {
    font-family: font-300;
}

/* after user has logged in */
.nav__user-icon.initial {
    background-color: var(--Accent);
    font-family: font-400;
    font-size: var(--Text-font-size-2);
}

.nav__user-items >div:first-child {
    font-family: font-300;
}
